<clr-tree-node *ngIf="projects.length == 0; else displayProjects">
    No projects to display ):
</clr-tree-node>

<ng-template #displayProjects>
    <label for="search_input">
        <input
            [(ngModel)]="filterText"
            type="text"
            class="small-margin-bottom"
            placeholder="Filter projects">
    </label>

    <clr-tree-node *ngFor="let project of projects | filterProjects:filterText">
        <clr-icon shape="folder"></clr-icon>
        {{ project.name }}
        <a class="label badge-link">
            {{ getLastVersion(project) }}
        </a>
        <ng-container *ngFor="let version of project.versions" ngProjectAs="clr-tree-node">
            <ng-container *ngIf="version.languages.length > 1; else versionBlock">
                <clr-tree-node>
                    {{ version.number }}
                    <clr-tree-node *ngFor="let language of version.languages">
                        <a class="clr-treenode-link tree-link" (click)="notifyParent(project, version, language)">
                            {{ language.name }}
                        </a>
                    </clr-tree-node>
                </clr-tree-node>
            </ng-container>

            <ng-template #versionBlock>
                <clr-tree-node>
                    <a class="clr-treenode-link tree-link" (click)="notifyParent(project, version, version.languages[0])">
                        {{ version.number }}
                    </a>
                </clr-tree-node>
            </ng-template>
        </ng-container>
    </clr-tree-node>
</ng-template>
