<div class="main-container">
    <header class="header header-1">
        <div class="branding">
            <a class="clickable-element">
                <clr-icon class="is-inverse" shape="menu" (click)="toggleSidenav()"></clr-icon>
                <span class="title">HostMyDocs</span>
            </a>
        </div>
        <div class="header-nav" *ngIf="isProjectSelected">
            <clr-dropdown>
                <a #copyButton
                    clrDropdownToggle
                    class="nav-link nav-icon dropdown clickable-element">
                    <clr-icon [attr.shape]="copyIconShape"></clr-icon>
                </a>
                <div class="dropdown-menu">
                    <p
                        clrDropdownItem
                        tsiClipboard
                        (onSuccess)="afterClipboardAction($event)"
                        (onError)="afterClipboardAction($event)"
                        id="embeddedCopy"
                        [attr.data-clipboard-text]="this.embeddedSharingLink">
                        Embedded documentation
                    </p>
                    <p
                        clrDropdownItem
                        tsiClipboard
                        (onSuccess)="afterClipboardAction($event)"
                        (onError)="afterClipboardAction($event)"
                        id="standaloneCopy"
                        [attr.data-clipboard-text]="this.standaloneSharingLink">
                        Standalone documentation
                    </p>
                </div>
            </clr-dropdown>
            <a [attr.href]="downloadLink"
                role="tooltip"
                aria-haspopup="true"
                class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right clickable-element"
                download>
                <clr-icon shape="download"></clr-icon>
                <span class="tooltip-content">Download this documentation</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                    <clr-icon shape="help-info"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <a target="_blank" href="https://github.com/TraceSoftwareInternational/HostMyDocs" clrDropdownItem>GitHub repo</a>
                    <a target="_blank" href="https://github.com/TraceSoftwareInternational/HostMyDocs/issues/new" clrDropdownItem>Rebort an issue</a>
                    <a target="_blank" href="https://github.com/TraceSoftwareInternational/HostMyDocs/releases" clrDropdownItem>Version 1.2.1</a>
                </div>
            </clr-dropdown>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <h1 *ngIf="isProjectSelected === false && loadingError === false">No project loaded</h1>
            <h1 *ngIf="loadingError">Project cannot be loaded</h1>

            <iframe #frame
                *ngIf="isProjectSelected"
                [src]="urlToDisplay | trustUrl"
                (load)="iframeSrcWatcher(frame)"
                width="100%"
                height="100%"
                seamless="seamless"
                frameBorder="0">
            </iframe>
        </div>

        <nav class="sidenav" [class.hidden]="hideSidenav">
            <section class="sidenav-content">
                <project-tree
                    (onProjectSelection)="openDocumentation($event)">
                </project-tree>
            </section>
        </nav>
    </div>
</div>
