<div class="main-container">
    <header class="header header-1">
        <div class="branding">
            <a class="clickable-element">
                <clr-icon class="is-inverse" shape="directory"></clr-icon>
                <span class="title">HostMyDocs</span>
            </a>
        </div>
        <div class="header-nav">
            <a ngxClipboard
                *ngIf="indexFileToDisplay !== undefined"
                cbContent="{{ getSharingLink() }}"
                role="tooltip"
                aria-haspopup="true"
                class="nav-link nav-icon tooltip tooltip-xs tooltip-bottom-right clickable-element">
                <clr-icon shape="share"></clr-icon>
                <span class="tooltip-content">Get link</span>
            </a>
            <a *ngIf="downloadLink !== undefined"
                [attr.href]="downloadLink"
                role="tooltip"
                aria-haspopup="true"
                class="nav-link nav-icon tooltip tooltip-md tooltip-bottom-right clickable-element"
                download>
                <clr-icon shape="download"></clr-icon>
                <span class="tooltip-content">Download this documentation</span>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <documentation-viewer [indexFile]="indexFileToDisplay"></documentation-viewer>
        </div>

        <nav class="sidenav">
            <section class="sidenav-content">
                <project-tree
                    [project]="currentState.project"
                    [version]="currentState.version"
                    [language]="currentState.language"
                    (onProjectSelection)="openDocumentation($event)">
                </project-tree>
            </section>
        </nav>
    </div>
</div>
