[Unit]
Description=Documentation hosting server
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a hostmydocs-service
ExecStop=/usr/bin/docker stop -t 2 hostmydocs-service

[Install]
WantedBy=default.target
